@import "style";
$color:#313131;
header{
    width: 100%;
    height: 110px;
    position: relative;
    .addver{
        height: 36px;
        background-color: #b1b1b2;
        padding: 0 15px;
        line-height: 36px;
        p{
        float: left;
        font-size: 17px;
        color: #fff;
        }
        .addver-right{
            float: right;
            font-size: 14px;
            a{
                color: #fff;
                &:nth-child(1){
                    padding-left: 16px;
                    background: url(/images/address.png) no-repeat 0px 3px;
                    margin-right: 35px;
                }
                &:nth-child(2){
                    padding-left: 19px;
                    background: url(/images/contact.png) no-repeat 0px 3px;
                }
            }
        }
    }
    .head{
        height: 74px;
        border-bottom: 1px solid #8c8c8c;
        padding: 0 15px;
        .logo{
            float: left;
            margin-top: 29px;
        }
        .nav{
            width: 764px;
            float: left;
            margin-left: 34px;
            .ul{
                float: left;
                font-size: 15px;
                li{
                    float: left;
                    padding: 0 9px;
                    height: 74px;
                    a{
                        display: block;
                        height: 70px;
                        padding: 0 8px;
                        line-height: 70px;
                        color: #000;
                    }
                }
            }
            form{
                position: relative;
                float: right;
                width: 138px;
                height: 30px;
                border: 1px solid #b1b1b1;
                margin-top: 21px;
                border-radius: 5px;
                position: relative;
                z-index: 2;
                input{
                    width: 133px;
                    height: 30px;
                    border: none;
                    color: #a6a6a6;
                    font-size: 16px;
                    padding-left: 5px;
                    border-radius: 5px;
                }
                .search{
                    position: absolute;
                    top: 4px;
                    right: 15px;
                    display: block;
                    width: 26px;
                    height: 24px;
                    background: url(/images/search.png) no-repeat;
                }
                .search-container{
                    display: none;
                    position: absolute;
                    top: 31px;
                    left: 0;
                    background-color: #fff;
                    width: 200px;
                    border: 1px solid #b1b1b1;
                    border-top: none;
                    li{
                        line-height: 22px;
                        font-size: 14px;
                        padding-left: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    
}
.head form .search-container a{
    color: #333333;
}
.head .login{
    float: left;
    width: 105px;
    margin-left: 26px;
}
.head .login span{
    float: left;
    display: block;
    margin-top: 22px;
    width: 25px;
    height: 25px;
    margin-right: 12px;
    cursor: pointer;
    background: url(/images/people.png) no-repeat;
}
.head .login a{
    float: left;
    margin-top: 26px;
    font-size: 14px;
    color: #000;
}
.head .login a:nth-child(3){
    margin-left: 4px;
    margin-right: 4px;
}
.head div.loginOut{
    display: none;
}
.head .cart{
    float: right;
    position: relative;
    height: 32px;
    line-height: 42px;
    padding-left: 50px;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
    background: url(/images/cart.png) no-repeat;
}
.head .cart a{
    margin-left: 6px;
    color: #000;
}
.head .cart span{
    position: absolute;
    top: 0px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background-color: #ff233e;
    color: #fff;
}

.cats{
    width: 100%;
    min-height: 350px;
    background-color: #fff;
    border-bottom: 1px solid #8c8c8c;
    position: absolute;
    top: 111px;
    left: 0;
    z-index: 5;
    display: none;
    .cats-container{
        float: left;
        width: 454px;
        min-height: 180px;
        box-sizing: border-box;
        margin: 50px 0 50px 230px;
        border-right: 1px solid #8c8c8c;
        color: #313131;
        dl{
            width: 151px;
            float: left;
            dt{
                margin-top: 6px;
                margin-bottom: 26px; 
                font-size: 15px; 
            }
            dd{
                font-size: 14px;
                p{
                    line-height: 28px;
                }
            }
        }
    }
    .cats-right{
        float: left;
        margin-left: 10px;
        width: 244px;
        margin-top: 45px;
        img{
            width: 244px;
        }
        p{
            font-size: 15px;
            margin-bottom: 35px;
            margin-top: 10px;
            a{
                font-size: .9em;
                color: #313131;
            }
        }
    }
}



















footer{
    width: 100%;
    height: 574px;
    background-color: #e7e7e7;
}
footer .footer-top{
    height: 83px;
    border-bottom: 1px solid #b0b0b0;
}
.footer-top .footer-top-container{
    width: 378px;
    height: 83px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer-top a{
    height: 46px;
    padding-left: 55px;
    line-height: 46px;
    font-size: 26px;
    color: #1d6dba;
}
footer .footer-top a:nth-child(1){
    background: url(/images/huiyuan.png) no-repeat;
}
footer .footer-top a:nth-child(2){
    background: url(/images/mendian.png) no-repeat;
}
footer .footer-container{
    width: 1178px;
    height: 491px;
    margin: 0 auto;
}
.footer-container .pay{
    height: 102px;
    display: flex;
    justify-content: space-between;
}
.pay p:nth-child(1){
    display: flex;
    height: 102px;
    width: 360px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: $color;
}
.pay p:nth-child(2){
    height: 23px;
    margin-top: 50px;
}
.pay p a{
    padding-left: 38px;
    background: url(/images/china.png) no-repeat;
    color: #4d4d4d;
}
.footer-center{
    height: 295px;
}
.footer-center dl{
    float: left;
    width: 178px;
    height: 295px;
    font-size: 12px;
    letter-spacing: 2px;
}
.footer-center dl a{
    color: $color;
}
.footer-center dl a:hover{
    text-decoration: underline;
}
.footer-center dl dt{
    font-weight: bold;
    margin-bottom: 14px;
}
.footer-center dl dd{
    line-height: 30px;
}

.footer-container .attention{
    width: 324px;
    height: 136px;
    float: right;
    color: $color;
    font-weight: bold;
    text-align: right;
}
.attention p:nth-child(1){
    font-size: 14px;
    margin: 12px 2px 12px 0;
}
.attention p:nth-child(2){
    display: flex;
    justify-content: flex-end;
}
.attention p:nth-child(2) a{
    width: 22px;
    height: 22px;
}
.attention p:nth-child(2) a:nth-child(1){
    background: url(/images/weibo.png) no-repeat;
    margin-right: 15px;
}
.attention p:nth-child(2) a:nth-child(2){
    background: url(/images/wechat.png) no-repeat;
}
.attention p:nth-child(3){
    font-size: 12px;
    margin: 18px 0 13px;
}
.attention form{
    display: flex;
    justify-content: flex-end;
}
.attention form a{
    width: 38px;
    height: 22px;
    border: 1px solid #727272;
    background: #484848 url(/images/message.png) no-repeat center center;
}
.attention form input{
    width: 282px;
    border: none;
}
.footer-container .footer-bottom{
    height: 92px;
    border-top: 1px solid #b0b0b0;
}
.footer-bottom .addre{
    float: left;
    font-size: 11px;
    color: $color;
    margin-top: 15px;
}
.footer-bottom .imag{
    float: right;
    margin-top: 15px;
}
.footer-bottom .imag img{
    margin-right: 42px;
    height: 27px;
}
.footer-bottom .imag img:nth-child(4){
    margin-right: 97px;
}


.topback{
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 44px;
    height: 44px;
    display: none;
    border-radius: 50%;
    background: #808080 url(/images/topback.png) no-repeat center center;
}