@import "module/style";
@import "module/headfoot";
@import "module/recommond";
main {
    width: 98%;
    height: 1880px;
    padding: 0 12px;
    position: relative;
    //padding: 84px 30px 68px 40px;
}
main .detail {
    position: relative;
    height: 565px;
    padding: 84px 30px 70px 40px;
    border-bottom: 1px solid #000;
}
.d-left {
    width: 665px;
    height: 570px;
    float: left;
}
.d-left .view_thumbs {
    width: 78px;
    height: 420px;
    float: left;
}
.d-left .view_thumbs ul {
    width: 80px;
    height: 420px;
}
.d-left .view_thumbs ul li {
    width: 78px;
    height: 78px;
    margin-bottom: 5px;
    border: 1px solid #f5f5f5;
    position: relative;
}
.d-left .view_thumbs ul a{
    position: absolute;
    left: 0;
    top: 0;
    width: 78px;
    height: 78px;
}
.d-left .view_thumbs ul .s {
    width: 78px;
    height: 78px;
}
.d-left .view_thumbs ul .current {
    border: 1px solid #f5f5f5; 
}
.d-left .view_thumbs li .current {
    border: 1px solid #c5c5c5;
}
.d-left .view_bd {
    float: left;
    border: 1px solid #f5f5f5;
    width: 565px;
    height: 565px;
    margin-left: 20px;
    position: relative;
}
.d-left .view_bd img {
    width: 565px;
    height: 565px;
}
.d-left .view_bd .view {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border: 1px solid #f5f5f5; 
}
.d-right{
    float: left;
    margin-left: 20px;
    width: 450px;
    height: 504px;
    border-bottom: 1px solid #c5c5c5;
}
.d-right .d-right-name{
    width: 450px;
    height: 174px;
    border-bottom: 1px solid #c5c5c5;
    font-size: 30px;
    color: #333;
    font-weight: bold;
    p:nth-child(3){
        font-size: 14px;
        font-weight: normal;
        margin: 5px 0 20px;
    }
}
.d-right .xq{
    height: 340px;
    font-size: 14px;
    p{
        color: #333;
        line-height: 38px;
    }
    .xq-size{
        text-decoration: underline;
        color: #000;
    }
}


.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    opacity: .5;
    display: none;
}

.size-offer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    width: 835px;
    height: 250px;
    background-color: #fff;
    padding-left: 65px;
    padding-top: 50px;
    display: none;
    p{
        position: absolute;
        right: 60px;
        top: 8px;
        font-size: 28px;
        cursor: pointer;
    }
}








.d-right .xq .ul{
    overflow: hidden;
}
.d-right .xq .ul li{
    float: left;
    width: 78px;
    height: 78px;
    border: 1px solid #f5f5f5;
    margin-right: 5px;
    margin-bottom: 20px;
    img{
        width: 78px;
        height: 78px;
    }
}
.d-right .sN{
    height: 38px;
    color: #000;
    line-height: 36px;
}
.d-right .sN .size{
    float: left;
    width: 276px;
    height: 36px;
    border: 1px solid #c5c5c5;
    margin-right: 20px;
    border-radius: 2px;
    padding-left: 10px;
    position: relative;
    span{
        position: absolute;
        top: 17px;
        right: 11px;
        width: 12px;
        height: 6px;
        background: url(/images/jt.png) no-repeat;
    }
    .size-show{
        display: none;
        width: 300px;
        box-sizing: border-box;
        height: 120px;
        background-color: #fff;
        position: absolute;
        top: 37px;
        left: 0;
        ul li{
            float: left;
            width: 58px;
            margin-left: -1px;
            margin-top: -1px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            border: 1px solid #c5c5c5;
        }
    }
}
.d-right .sN .num{
    float: left;
    width: 138px;
    height: 36px;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    a{
        width: 36px;
        height: 36px;
        line-height: 38px;
        font-size: 22px;
        color: #000;
        float: left;
        text-align: center;
        &:nth-child(1){
            border-right: 1px solid #c5c5c5;
        }
        &:nth-child(3){
            border-left: 1px solid #c5c5c5;
        }
    }
    input{
        float: left;
        width: 64px;
        height: 36px;
        border: none;
        text-align: center;
        font-size: 16px;
        line-height: 37px;
    }
}

.d-right .cart{
    margin-top: 15px;
    height: 41px;
    a{
        float: left;
        width: 214px;
        height: 41px;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        line-height: 41px;
        text-align: center;
        
        &:nth-child(1){
            background-color: #022d53;
            margin-right: 20px;
        }
        &:nth-child(2){
            background-color: #ff233e;
        }
    }
}
.d-right .share{
    height: 40px;
    color: #000;
    text-align: right;
    line-height: 40px;
    a{
        text-decoration: none;
        color: #000;
        font-size: 12px;
    }
}

main .title{
    height: 574px;
    padding-top: 45px;
    border-bottom: 1px solid #c9caca;
    .title-left{
        width: 440px;
        height: 574px;
        float: left;
        img{
            width: 400px;
        }
    }
    .title-right{
        float: left;
        width: 755px;
        height: 574px;
        color: #333;
        h2{
            font-size: 32px;
            line-height: 50px;
        }
        h3{
            font-size: 20px;
            line-height: 30px;
            margin-top: 20px;
        }
        p{
            font-size: 16px;
            line-height: 22px;
            margin-top: 10px;
            &.title-small{
                font-size: 12px;
                color: #999;
                line-height: 20px;
                margin-top: 20px;
            }
        }
    }
}

main .recommond{
    height: 515px;
    border-bottom: 1px solid #c9caca;
    width: 93.5%;
    margin: 0 auto;
    h3{
        text-align: center;
        margin: 25px 0 20px;
        font-size: 25px;
        img{
            margin-right: 15px;
        }
    }
}
main .recommond dl{
    width: 23.6%;
    height: 381px;
}
main .recommond dl img{
    width: 100%;
}

.detail-cart{
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 246px;
    padding: 16px 0;
    background-color: #fff;
    border-bottom: 1px solid #c9caca;
    font-size: 12px;
    .cart-left{
        float: left;
        width: 290px;
        height: 246px;
        margin-left: 27%;
        border-right: 1px solid #c9caca;
        .left-xq{
            width: 224px;
            text-align: center;
            margin-top: 24px;
            h3{
                font-size: 20px;
            }
            img{
                width: 100px;
            }
            p b{
                font-weight: bold;
            }
            p:nth-of-type(2){
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .cart-right{
        width: 360px;
        height: 246px;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
            width: 160px;
            height: 38px;
            border: none;
            color: #fff;
            line-height: 38px;
            text-align: center;
        &:nth-child(1){
            background-color: #022d53;
            margin-bottom: 10px;
        }
        &:nth-child(2){
            background-color: #ff233e;
        }
        }
    }
}









