*{
    margin: 0;
    padding: 0;
}
$color:#313131;
$bgcolor:#002952;
a{text-decoration: none;}
ul,ol{list-style: none;}
b,em{
    font-weight: normal;
    font-style: normal;
}
img{vertical-align: top;}
input{outline: none;}
